.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.card {
  max-width: 255px;
}

.card .img {
  padding: 0 20px;
}

.code {
  margin: 5px;
  padding-right: 20px;
  padding-top: 5px;
  font-size: 10px;
  font-weight: bold;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card_content .price {
  margin: 10px 0;
}

.card_content .card_title {
  display: flex;
  align-items: flex-end;
}

.cardTitle {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalFooter {
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalFooter button {
  width: 100px;
  margin: 0 30px;
}

.modalFooter .l {
  width: 100px;
  margin: 0 30px;
}