.modal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.modal__content {
  border: 1px solid black;
  max-width: 500px;
  background-color: white;
}

.modal__header {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ff9100;
}

.modal__header span:hover {
  cursor: pointer;
  color: white;
}

.modal__title {
  margin-right: 20px;
}

.modal__nav {
  padding: 20px;
}

.modal__text {
  text-indent: 20px;
  text-align: justify;
}