@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

.nav__wrapper {
    /* position: fixed; */
    font-family: 'Lato', sans-serif;
    background-color: #37474f;
    color: #ffab40;
    transition: color 2s ease-in-out;
}

.nav__container {
    margin: 0 auto;

    max-width: 1100px;
    display: flex;
}

.nav__logo {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.nav__logo:hover {
    cursor: pointer;
}


.nav__logo i {
    font-size: 50px;
    margin-right: 25px;
}


.nav__logo h1 {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}

.nav__bar {
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.nav__bar li {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 23px;
    border-bottom: 2px solid transparent;
    color: #ffab40;
    transition: color 300ms ease-in-out, border-bottom 300ms ease-in-out;
}

.nav__bar li:hover {
    cursor: pointer;
    color: #ff7d7d;
    background-color: #55616d;
    border-bottom: 2px solid #ff7d7d;
}


.nav__bar i {
    margin-right: 10px;
}